.contract {
    .title {
        font-weight: 700;
        font-size: 22px;
        line-height: 56px;
        color: #000000;
        text-align: center;

        span {
            color: rgba(203, 59, 75, 1);
        }
    }

    .clarity-smart-contract {
        position: relative;
        height: 300px;

        h5 {
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #CA704E;
            position: absolute;
            width: 130px;
            left: 33%;
            top: 20%;
        }
    }
}


@include for-smallest-phones {
    .contract {
        .clarity-smart-contract {
            h5 {
                font-size: 10px;
                width: 100px;
                left: 33%;
                top: 80px;
                line-height: 16px;
            }
        }
    }
}

@include for-phone-only {
    .contract {
        .title {
            font-size: 22px;
        }

        .clarity-smart-contract {
            height: 400px;

            h5 {
                font-size: 13px;
                width: 120px;
                left: 33%;
                top: 30%;
            }
        }
    }
}

@include for-tablet-potrait-up {
    .contract {
        .title {
            font-size: 22px;
            line-height: 56px;
        }

        .clarity-smart-contract {
            height: 550px;

            h5 {
                font-size: 18px;
                width: 160px;
                left: 38.5%;
                top: 26%;
            }
        }
    }
}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    .contract {
        .title {
            font-size: 45px;
            line-height: 56px;
        }

        .clarity-smart-contract {
            height: 550px;
            @include flex(center, center, row);

            img {
                width: 50%;
                margin: auto;
            }

            h5 {
                font-size: 18px;
                width: 160px;
                left: 43.5%;
                top: 28%;
            }
        }
    }
}

@include for-big-desktop-up {}